.first-section{
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and (max-width: 680px) {
            grid-template-columns: 1fr;
    
    }


    .first-section-left{
        background: $white;
        padding: 15px;
    
        .content{
           
            border: 1px dashed $red;
            padding: 30px 10px;

            .discover{

                h3{
                    color: $red;
                    font-weight: 600;
                    letter-spacing: 1px;
                    font-weight: 200;
                }
                h4{
                    margin: 0;
                    font-size: 1.5REM;
                    margin: -15px 0 30px;
                    font-family: $poppins;

                }
            }
            
            p{
                font-size: 0.9rem;
            }
            .chief-card{
                font-family: $poppins;
                
                p{
                    margin: 0;
                   
                    font-weight: normal;
                }
                h4{
                    margin: 0;
                    
                }

                div{
                    
                    img{
                        height: 60px;
                        border-radius: 50%;
                    }
            
                } 
        
            }
        }        
    
    }   

    .first-section-right {
         background: url(/assets/img/store-01.jpg) center/cover;
        
    }

}